
    <div class="login-signup-body">
      <div class="log-sign-desk-wrap">
        <div class="col-md-6 col-sm-6 lgs-section welcome">
          <div class="login-welcom-text">
            <h2>
              Welcome to the world of Bewakoof<span class="tradeMark">®</span>!
            </h2>
          </div>
          <div class="login-wlcm-img">
            <img
              src="https://images.bewakoof.com/web/group-19-1617704502.png"
              alt="login_welcome"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-6 lgs-section form">
          <div class="form-wrap">
            <div class="login-text-desk-wrap">
              <h1>Log in / Sign up</h1>
              <p class="login-text">
                for Latest trends, exciting offers and everything Bewakoof<span
                  class="tradeMark"
                  >®</span
                >!
              </p>
            </div>
            <div class="form-body">
              <form name="loginForm" novalidate="" autocomplete="off">
                <div
                  id="web_mobile_no"
                  class="xgroup showCountryCode dynamicCountryCode"
                >
                  <div class="input-wrap">
                    <div class="countryCode-wrap">
                      <div
                        class="country-code-dropdown-icon d-flex justify-content-between align-items-center"
                      >
                        <div
                          class="cntry-mob-phone-code-item d-flex justify-content-start align-items-center"
                        >
                          <img
                            src="https://images.bewakoof.com/web/india-flag-round-1639566913.png"
                            alt="country flag"
                          /><span>+91</span>
                        </div>
                        <i class="icon_down_solid down"></i>
                      </div>
                    </div>
                    <input
                      class=""
                      id="mobile_number"
                      type="tel"
                      name="mobile"
                      placeholder="Enter Mobile Number"
                      maxlength="10"
                      data-phonecode="+91"
                      value=""
                    />
                  </div>
                </div>
                <button
                  id="web_continue_submit"
                  type="submit"
                  class="loginSubmit"
                >
                  Continue
                </button>
              </form>
              <div class="soc-login">
                <div class="socialLogins">
                  <div class="connectWithTitle">
                    <hr />
                    <span class="socialHeading">OR</span>
                  </div>
                  <div class="connectWithWrapper">
                    <button id="web_email_login">
                      <img alt=""
                        src="https://images.bewakoof.com/web/carbon-email-1620039620.png"
                      />
                      CONTINUE WITH EMAIL
                    </button>
                    <div class="soc">
                      <button id="web_google_login">
                        <img alt=""
                          src="https://images.bewakoof.com/web/group-3-2x-1558356035.png"
                        />
                        Google</button
                      ><button id="web_facebook_login" style="margin-left: 8px">
                        <img
                        alt=""
                          src="https://images.bewakoof.com/web/bi-facebook2x-1620886445.png"
                        />
                        Facebook
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <p class="termsAndConditions">
                By creating an account or logging in, you agree with
                Bewakoof<span class="tradeMark">®</span>'s
                <a
                  href="https://www.bewakoof.com/terms-and-conditions"
                  target="_blank"
                  >Terms and Conditions </a
                >and
                <a
                  href="https://www.bewakoof.com/privacy-policy-and-disclaimer"
                  target="_blank"
                  >Privacy Policy</a
                >.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

