<div class="plp-product-card" id="testProductcard_1">
  <a
    class="col-sm-4 col-xs-6 px-2"
    aria-current="false"
    href="/p/the-ryuk-half-sleeve-t-shirt"
    ><div class="productCardBox">
      <div class="productCardImg false">
        <div
          class="productImg"
          style="
            width: 100%;
            padding-top: 135%;
            position: relative;
            background: rgb(249, 248, 245);
          "
        >
          <img
            src="https://images.bewakoof.com/t640/the-ryuk-half-sleeve-t-shirt-554010-1667975037-1.jpg"
            class="productImgTag"
            title="Men's Black The Ryuk Graphic Printed T-shirt-Front Bewakoof"
            alt=""
            width="100%"
            height="100%"
            loading="lazy"
            decoding="async"
          />
        </div>
        <div class="productStatusBox"></div>
        <div class="bottomTag"></div>
        <div class="tag-container"></div>
        <div
          class="pdt-r-wrap d-flex align-items-center bgclr-shade8 undefined"
        >
          <i class="icon_star_filled clr-p-yellow"></i
          ><span class="clr-shade-3">4.6</span>
        </div>
      </div>
      <div class="productCardDetail pdt-card-h">
        <div class="d-flex">
          <div class="productNaming bkf-ellipsis">
            <h3 class="brand-name undefined">Bewakoof®</h3>
            <h2 class="clr-shade4 h3-p-name undefined false">
              Men's Black The Ryuk Graphic Printed T-shirt
            </h2>
          </div>
          <div class="wishListProduct-v2">
            <img
              src="https://images.bewakoof.com/web/Wishlist.svg"
              alt="wishlist"
              class="wishlist-icon-animate"
            />
          </div>
        </div>
        <div class="productPriceBox d-flex align-items-end false">
          <div class="discountedPriceText clr-p-black false">
            <span>₹</span>299
          </div>
          <div class="actualPriceText clr-shade5">₹999</div>
          <span class="sellingFastBox"></span>
        </div>
        <div
          class="d-flex align-items-center justify-content-between loyalty-stock-wrap"
        >
          <div class="loyaltyPriceBox" style="width: unset">
            <h6><b>₹279</b>For TriBe Members</h6>
          </div>
        </div>
        <div
          class="fabric_tag_container px-2 py-1"
          style="border: 1px solid rgb(115, 115, 115); background: white"
        >
          <div class="tag_label_plp" style="color: rgb(115, 115, 115)">
            100% COTTON
          </div>
        </div>
      </div>
    </div></a
  >
</div>
