<div class="mainHeaderWrapper">
  <div class="mainHeader row">
    <div class="col-xs-2 mainHeaderCols bewakoofLogoDiv">
      <a href="/" style="display: inline-block; height: inherit"
        ><img
          src="https://images.bewakoof.com/web/ic-desktop-bwkf-trademark-logo.svg"
          alt="bewakoof_logo"
          title="Bewakoof.com"
          style="
            height: 20px;
            vertical-align: middle;
            margin-bottom: 5px;
            width: 147px;
          "
        />
      </a>
    </div>
    <div class="col-xs-5 dropDownWrapper">
      <div class="mainHeaderCols dropDownDiv" style="text-align: left">
        <span class="menuWrapper" style="color: rgb(51, 51, 51)"
          ><a
            href="/men-clothing"
            class="menuSelectWrpr"
            id="testMenuSelect-shop-men"
            style="position: relative"
            ><span class="menuSelect" style="cursor: pointer"
              ><span>MEN</span></span
            ></a
          >
          <div class="container menuDropdownWrpr">
            <div class="menuContents dropdownContent">
              <div class="dropDownMenu"></div>
            </div></div></span
        ><span class="menuWrapper" style="color: rgb(51, 51, 51)"
          ><a
            href="/women-clothing"
            class="menuSelectWrpr"
            id="testMenuSelect-shop-women"
            style="position: relative"
            ><span class="menuSelect" style="cursor: pointer"
              ><span>WOMEN</span></span
            ></a
          >
          <div class="container menuDropdownWrpr">
            <div class="menuContents dropdownContent">
              <div class="dropDownMenu"></div>
            </div></div></span
        ><span class="menuWrapper" style="color: rgb(51, 51, 51)"
          ><a
            href="/mobile-covers-india"
            class="menuSelectWrpr"
            id="testMenuSelect-mobile covers"
            style="position: relative"
            ><span class="menuSelect" style="cursor: pointer"
              ><span>MOBILE COVERS</span></span
            ></a
          >
          </span>
      </div>
    </div>
    <div
      class="col-xs-5 mainHeaderCols searchMyAccount d-flex flex-row-reverse"
    >
      <div
        class="pull-right mainHeaderCols activemenuwrp"
        style="padding-right: 0px"
      >
        <div class="actionMenu">
          <span style="display: flex; align-items: center; text-align: center;padding: 10px 15px;" class="actionMenu"
            ><img
                src="https://images.bewakoof.com/web/india-flag-round-1639566913.png"
                alt="country"
                height="30"
                width="30"
                class="countryIcon" /></span
          ><span style="display: flex; align-items: center; text-align: center;padding: 15px 0 15px 10px;" class="actionMenu actionMenuInner" id="testHeaderCart"
            >
              <mat-icon>
                shopping_bag
                </mat-icon>
            </span
          ><span
            style="display: flex; align-items: center; text-align: center;justify-content: center;padding: 0px 5px; cursor: pointer"
            class="actionMenu"
            >
              <mat-icon class="material-symbols-outlined">favorite</mat-icon>
          </span>
          <div
            class="actionMenu"
            style="display: flex; align-items: baseline; text-align: right"
          >
            <a (click)="navigateToLoginPage()" style="cursor: pointer;text-decoration: none; font-size: 14px;padding: 0 10px;text-rendering: optimizeLegibility;font-weight: 600;" class="loginLink">Login</a>
          </div>
        </div>
      </div>
      <div class="pull-right mainHeaderCols searchWrapper">
        <div class="icon-addon addon-sm">
          <form
            class="searchContainer"
            style="position: relative; border-bottom: none"
          >
            <input
              class="searchInput form-controls"
              placeholder="Search by product, category or collection"
              type="text"
              autocomplete="off"
            /><i><mat-icon>search</mat-icon></i>
          </form>
          <div class="seperator"></div>
        </div>
      </div>
    </div>
  </div>
</div>
